<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TaskManager</title>
        <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <style>
            html, body {
                height: 100%;
                background: linear-gradient(45deg, lightgreen, lawngreen);
            }
            .btn{
                background-color: inherit;
                border-color: limegreen;
                color: limegreen;
                margin-left: 20%;
                margin-right: 20%;
            }
            .dropdown-toggle{
                background-color: inherit;
                color: white;
                border: none;
            }
        </style>
        <script src="../controllers/env.js">
        </script>
        <script src="../controllers/auth_controller.js"></script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <!-- Marca o logo -->
                    <a class="navbar-brand" href="Home.html">
                        <img src="https://i.redd.it/why-is-this-style-of-cover-art-so-popular-among-phonk-v0-5oxy8bezfova1.jpg?width=640&format=pjpg&auto=webp&s=bf23e49151ec7bb3697096e886fd91fa4a05794d" alt="Logo" width="50">
                    </a>
                    <!-- Botón de menú hamburguesa que aparece en dispositivos móviles -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
                            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Contenedor colapsable para los enlaces del menú -->
                    <div class="collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="Tasks.html">Tareas</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    Etiquetas
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li id="listOfTasgs">
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#newModal">
                                            <b>+ Nueva etiqueta</b>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class="d-flex me-2">
                            <input class="form-control" type="email" id="search" placeholder="Buscar" aria-label="Buscar">
                            <button class="btn btn-primary ms-2" type="submit">Buscar</button>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="Login.html" data-bs-toggle="modal" data-bs-target="#myModal">
                                    <i class="fas fa-sign-out-alt" title="Cerrar sesión" style="font-size:24px; color: white;"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Login.html" data-bs-toggle="modal" data-bs-target="#editUserModal">
                                    <i class="fas fa-cog" title="Configuracion" style="font-size:24px; color: white;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="d-flex justify-content-center gap-4 mt-3 mb-3" id="tagDisplayTaskView">
            </div>
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                    <tr>
                        <th scope="col"><i class='fas fa-check'></i></th>
                        <th scope="col">Tarea</th>
                        <th scope="col">Etiquetas</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Acciones</th>
                    </tr>
                    </thead>
                    <tbody id="tableTasksView">
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination justify-content-center" id="paginationTaskView">
                        <!-- Pagination buttons will be inserted here -->
                    </ul>
                </nav>
            </div>
        </main>
        <footer style="display: flex; justify-content: center; padding: 10%;">
            <button type="button"
                    id="addTaskButton"
                    class="btn btn-success"
                    style="background-color: darkgreen; width: 150px;" data-bs-toggle="modal"
                    data-bs-target="#addtaskModal">
                <i class="fas fa-plus"></i>
            </button>
        </footer>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Cerrar sesión</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        ¿Seguro de que deseas cerrar sesión?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" style="margin-left: auto;margin-right: auto;" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" onclick="logout()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="newModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Nueva etiqueta</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form onsubmit="createTag()">
                            <label for="name" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="name" placeholder="Deporte" name="name" required>
                            <label for="color" class="form-label">Color:</label>
                            <input type="color" class="form-control" id="color" placeholder="Deporte" name="color" style="margin-bottom: 5%">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm" style="margin-left: auto;margin-right: auto;" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger btn-sm" >Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="addtaskModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Nueva Tarea</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form onsubmit="createTask()">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" name="title" placeholder="Nombre de la tarea">
                            <label for="date" class="form-label">Fecha:</label>
                            <input type="date" class="form-control" id="date" name="due_date" placeholder="dd/mm/aaa">
                            <label class="form-label">Etiqueta:</label>
                            <select id="tagSelect" class="form-select" aria-label="Default select example" name="tags" style="margin-bottom: 5%">
                                <option selected>Sin etiqueta</option>
                            </select>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm" style="margin-left: auto;margin-right: auto;" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="edittaskModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar Tarea</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form id="formEditTask">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input  id="editname" type="text" class="form-control" name="title" placeholder="Nombre de la tarea">
                            <label for="date" class="form-label">Fecha:</label>
                            <input id="editdate" type="date" class="form-control" name="due_date" placeholder="dd/mm/aaa">
                            <label class="form-label">Etiqueta:</label>
                            <select id="tagSelect2" class="form-select" aria-label="Default select example" name="tags" style="margin-bottom: 5%">
                                <option selected>Sin etiqueta</option>
                            </select>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm" style="margin-left: auto;margin-right: auto;" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="editUserModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar Usuario</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editUserForm" onsubmit="editUserInfo()">
                            <label for="userName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="userName" name="name" required>
                            <label for="userEmail" class="form-label">Correo</label>
                            <input type="email" class="form-control" id="userEmail" name="email" required>
                            <label for="userPassword" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="userPassword" name="password" style="margin-bottom: 5%" required>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm" style="margin-left: auto;margin-right: auto;" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Eliminar</button>
                                <button id="GuardarCambiosnButton" type="submit" class="btn btn-success btn-sm">Guardar cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="deleteUserModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar Usuario</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        ¿Seguro de que deseas eliminar tu usuario?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" style="margin-left: auto;margin-right: auto;" data-bs-dismiss="modal">Cancelar</button>
                        <button id="deleteUserButton" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" onclick="deleteUserPermanently()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="deleteTaskModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar Tarea</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        ¿Seguro de que deseas eliminar esta tarea?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btn-sm" style="margin-left: auto;margin-right: auto;" data-bs-dismiss="modal">Cancelar</button>
                        <button id="deleteTaskButton" type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" onclick="">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="editTagModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar etiqueta</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form id="editTagForm">
                            <label for="name" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="nameTAG" placeholder="" name="name" required>
                            <label for="color" class="form-label">Color:</label>
                            <input type="color" class="form-control" id="colorTAG" placeholder="Deporte" name="color" style="margin-bottom: 5%">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger btn-sm" style="margin-left: auto;margin-right: auto;" data-bs-dismiss="modal">Cancelar</button>
                                <button id="deleteTagButton" type="button" class="btn btn-danger btn-sm" style="margin-left: auto;margin-right: auto;">Eliminar</button>
                                <button type="submit" class="btn btn-danger btn-sm" style="margin-left: auto;margin-right: auto;">Aceptar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
        <script src="../controllers/tasks_controller.js"></script>
        <script src="../controllers/tags_controller.js"></script>
        <script>
            document.getElementById("editUserModal").addEventListener("shown.bs.modal", populateUserData);
            populateTagToggle();
            init();
        </script>
    </body>
</html>